---
import '../styles/view_size.css'
---



<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/orange.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>かすしゅく.みんな</title>
	</head>

	<body>
		<div class="pc">
			<h1>かすしゅく.みんな</h1>
			<h2>What is here?</h2>
			<p>仲間内のWebサイトへのリンクを集めていたり、役に立ちそうなことを書いたりしてるかもしれない。<br>
			共同編集しているので、随時リンクが増えたりファイルが増えたりしてるかもしれない。
			</p>
			<h2>相互リンク</h2>
			<li>
				<ul>
					<a href="https://みや.かすしゅく.みんな">miya-lis</a>
				</ul>
				<ul>
					<a href="https://ろまのふ.かすしゅく.みんな/about">Roma.Log(/・・)/</a>
				</ul>
				<ul>
					<a href="https://うつぎ.かすしゅく.みんな">Utsugi0101</a>
				</ul>
				<ul>
					<a href="https://ずきも.かすしゅく.みんな">ずきもの書庫</a>
				</ul>				
			</li>
		</div>

		<div class="mobile">
			<h1>かすしゅく.みんな</h1>
			<h2>What is here?</h2>
			<p>仲間内のWebサイトへのリンクを集めていたり、役に立ちそうなことを書いたりしてるかもしれない。<br>
			共同編集しているので、随時リンクが増えたりファイルが増えたりしてるかもしれない。
			</p>
			<h2>相互リンク</h2>
			<li>
				<ul>
					<!-- <a href="https://みや.かすしゅく.みんな"><Image src={miyapng} alt="miya-lis"/></a> -->
					<a href="https://みや.かすしゅく.みんな">miya-lis.net</a>
				</ul>
				<ul>
					<a href="https://romablog-lime.vercel.app/about">Roma.Log(/・・)/</a>
				</ul>
				<ul>
					<a href="https://utsugi0101.dev/">Utsugi0101</a>
				</ul>
				<ul>
					<a href="https://ずきも.かすしゅく.みんな">ずきもの書庫</a>
				</ul>				
			</li>
		</div>
	</body>
</html>
